-
  const classNames = {
    [`input_${status}`]: Boolean(status),
    [`${className}`]: Boolean(className),
  }

.input(class=classNames)
  .input__area
    input(
      id=id
      type=type
      name=name
      value=value
      disabled=disabled
      readonly=readonly
      placeholder=placeholder
    ).input__field
  if message
    p.input__message #{message}
