-
  const classNames = {
    [`input_${status}`]: Boolean(status),
    [`${className}`]: Boolean(className),
    [`input_readonly`]: readonly,
    [`input_disabled`]: disabled,
  }

if isCustom
  input(
    id=id
    type=type
    name=name
    class=classNames
    value=value
    form=form
    checked=checked
    accept=accept
    placeholder=placeholder
    required=required
  )
else
  .input(class=classNames)
    .input__area
      input(
        id=id
        type=type
        name=name
        value=value
        form=form
        accept=accept
        placeholder=placeholder
        required=required
      ).input__field
    if message
      p.input__message #{message}
