section.profile-layout.profile-layout_scaled.column.center.h100
  .profile-layout__content.card.row.row_nowrap
    .profile-layout__column.column.h100
      label.profile-layout__avatar.circle
        img(src=avatarSrc alt=avatarAlt).profile-layout__avatar-image.circle

      .profile-layout__button.profile-layout__button_save
        | !{saveButton}

    .profile-layout__column.column.h100
      | !{form}

  .profile-layout__back-link.center
    | !{slot}
