-
  const [
    avatar,
    createChatForm,
    removeChatForm,
    contactList,
    profileForm,
    messagesList,
    messageInput,
  ] = children

  const chatContentClassNames = {
    'chat-layout__content_input_active': isVisibleMessageInput,
    'chat-layout__content_contacts_active': isVisibleContacts,
  }

section.chat-layout.flex.h100
  input(
    id="chat-profile-trigger"
    type="checkbox"
  ).chat-layout__trigger-input.chat-layout__trigger-input_profile

  input(
    id="chat-password-trigger"
    type="checkbox"
  ).chat-layout__trigger-input.chat-layout__trigger-input_password

  label(for="chat-profile-trigger").chat-layout__overlay

  | !{profileForm}

  section.chat-layout__create-form
    | !{createChatForm}

  section.chat-layout__remove-form
    | !{removeChatForm}

  section.chat-layout__content(class=chatContentClassNames)
    label(
      for="chat-profile-trigger"
    ).chat-layout__trigger.chat-layout__trigger_profile.row.row_nowrap
      | !{avatar}
      | Профиль

    | !{contactList}

    .chat-layout__messages.column.center
      | !{messagesList}

      span.chat-layout__service-text Выберете собеседника или создайте новый чат

    | !{messageInput}

