-
  const classNames = {
    [`${className}`]: typeof className === 'string',
    [`button_${status}`]: typeof status === 'string',
  }

button(
  id=id
  type=type
  name=name
  class=classNames
  disabled=disabled
).button #{slot}
