-
  const classNames = {
    [`${className}`]: typeof className === 'string',
    'button_primary': status === 'primary',
  }

button(
  type=type
  name=name
  class=classNames
  disabled=disabled
).button #{slot}
