-
  const classNames = {
    [`${className}`]: Boolean(className),
    [`form_readonly`]: readonly,
    [`form_disabled`]: disabled,
  }

form(
  id=id
  name=name
  class=classNames
  action=action
  method=method
  target=target
).form
  each field in children
    | !{field}


