-
  const [userName, message, time] = children

  const classNames = {
    [`${className}`]: Boolean(className),
    ['message_author']: isAuthor,
  }

.message(id=id class=classNames)
  .message__body
    if (!isAuthor)
      span.message__username
        | !{userName}
    p.message__text
      | !{message}
    time(datetime=time).message__time
      | !{time}
